<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.comm.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.comm.servlet.StudentServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdvisorServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.comm.servlet.AdvisorServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdvisorMainServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.comm.servlet.AdvisorMainServlet</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>StudentMainServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.comm.servlet.StudentMainServlet</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.comm.servlet.FileUploadServlet</servlet-class>
  </servlet>
<servlet>
    <servlet-name>StaticUploadServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.comm.servlet.StaticUploadServlet</servlet-class>
  </servlet>
 

  
 

  <!-- Servlet mappings -->
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentServlet</servlet-name>
    <url-pattern>/Studentlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdvisorServlet</servlet-name>
    <url-pattern>/Advisorlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdvisorMainServlet</servlet-name>
    <url-pattern>/AdvisorMain</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentMainServlet</servlet-name>
    <url-pattern>/StudentMain</url-pattern>
      <url-pattern>/Static</url-pattern>
    <url-pattern>/SlideShow</url-pattern>
    <url-pattern>/Video</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
	<servlet-name>FileUploadServlet</servlet-name>
	<url-pattern>/StudentUpload</url-pattern>
</servlet-mapping>


  

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
