<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

  <!-- Servlets -->
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02a_smelendez.servlet.IndexServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>StudentsServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02a_smelendez.servlet.StudentsServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AdvisorsServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02a_smelendez.servlet.AdvisorsServlet</servlet-class>
  </servlet>
  
  
  
  
  <!-- AJAX servlets. -->
  <servlet>
    <servlet-name>StudentsAjaxServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02a_smelendez.servlet.ajax.StudentsAjaxServlet</servlet-class>
  </servlet>
  <servlet>  
    <servlet-name>AdvisorsAjaxServlet</servlet-name>
    <servlet-class>edu.ycp.cs320.lab02a_smelendez.servlet.ajax.AdvisorsAjaxServlet</servlet-class>
  </servlet>
  
  
  

  <!-- Servlet mappings -->
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/index</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>StudentsServlet</servlet-name>
    <url-pattern>/studentlogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdvisorsServlet</servlet-name>
    <url-pattern>/advisorlogin</url-pattern>
  </servlet-mapping>
  
  
  
  
  <!--  AJAX servlet mappings. -->
  <servlet-mapping>
    <servlet-name>StudentsAjaxServlet</servlet-name>
    <url-pattern>/ajax/students</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AdvisorsAjaxServlet</servlet-name>
    <url-pattern>/ajax/advisors</url-pattern>
  </servlet-mapping>
  
  
  

  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>
